<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <!--One way - data binding -two braquets-->
    <div class="container">
      <div class="row">
          <img width="200" height="200" class="col-xs-12 col-lg-8" src="https://image.flaticon.com/icons/svg/126/126511.svg"/>
      </div>
      <div class="row">
          <button type="button" class="col-xs-12 col-lg-4 btn btn btn-warning" on-click="increment">Loading data</button>
      </div>
      <br>
      <div class="row">
          Bidirectional: <input type="text" value="{{prop1::input}}" placeholder="[[prop3]]"/>
          <br>
          Unidirectional: <input type="text" value="[[prop1]]"/>
      </div>
      <div class="row">
          <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Last Name</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>Luis Antonio</td>
                <td>Garcia</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Selena</td>
                <td>Mora</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     //The class name is the same that the polymer component but with camell case
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2:{
            type: Number,
            value: 999
          },
          prop3:{
            type: String,
            value: 'Enter your user'
          }
        };
      }

      increment(){

        this.prop2 = this.prop2 + 1;
        console.log("prop1: "+ this.prop1);
        console.log("prop2: "+ this.prop2);

      }



    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
